html,body, #container {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    border: 1px white;
}

.cli_box {
    color: #CCC;
    height: 90%;
}

div#footer {
    text-align: right;
}

#cl_buffer,#cl_bleft,#cl_bright {
    height: 100%;
}

#cli {
    width:100%;
    background-color: #000;
    color: #AAA;
    border: none;
}

#cl_bright, #cl_fright, #cl_iright {
    text-align: right;
}

#cl_bleft,#cl_bright,#cl_buffer,#cl_header,
#cl_fleft,#cl_fright,#cl_flash,#cl_ileft,#cl_iright,
#cl_input {
//    border: 1px solid white;
//    margin: 8px;
}

pre { 
    margin:0;
    padding:0;
    bottom:0;
}