/**
 *  COLORS:
 *  there are 13 of them.
 *  they are:
 *
 *  #000000
 *  #34D1B2
 *  #5ED1BA
 *  #A66900
 *  #D0DEDD
 *  #DEEDD0
 *  #F30021
 *  #FFA100
 *  #FFD1BA
 *  #FFF7B8
 *  #FFF7CB
 *  #FFFA73
 *  #FFFFFF
 **/


html,body, #container {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
}

.cli_box {
    color: #FFF;
    height: 70%;
}

div#footer {
    text-align: right;
}

#cl_buffer,#cl_bleft,#cl_bright {
    height: 100%;
}

#cl_bright, #cl_fright, #cl_iright {
    text-align: right;
}

#cl_bleft,#cl_bright,#cl_buffer,#cl_header,#cl_hdrleft,
#cl_fleft,#cl_fright,#cl_flash,#cl_ileft,#cl_iright,
#cl_input {
//    border: 1px solid white;
//    margin: 8px;
}

pre,p {
    margin:0;
    padding:0;
    line-height: 110%;
}

#cl_header > pre {
    font-size: xx-small;
    line-height: 75%;
    color:#FFA100;
}

#cl_flash {
    line-height:110%;
    text-align:right;
    padding-bottom:1px;
}

#cl_flash {

}

input {
    width:100%;
    background-color: #000;
    color: #FFFA73;
    border: none;
}

#cl_buffer {
    overflow:hidden;
}

#cl_buffer > p {
    line-height: 140%;
}

#top_spacer {
    height: 6%;
}